<div class="flex flex-col sm:flex-row">
	<!-- Sidebar -->
	<div class="bg-blue-900 text-white w-full sm:w-1/6">
		<div class="p-4">
			<h1 class="text-2xl font-bold">Admin Dashboard</h1>
			<ul class="mt-4">
				<li class="py-2 border-t border-gray-700">
					<a href="#" class="block hover:text-gray-400">Inicio</a>
				</li>
				<li class="py-2 border-t border-gray-700">
					<a href="#" class="block hover:text-gray-400">Usuarios</a>
				</li>
				<li class="py-2 border-t border-gray-700">
					<a href="#" class="block hover:text-gray-400">Configuración</a>
				</li>
				<li class="py-2 border-t border-gray-700">
					<a href="#" class="block hover:text-gray-400">Ayuda</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- Main Content -->
	<div class="w-full sm:w-3/4 p-8">
		<h2 class="text-2xl font-bold mb-4">Bienvenido al Panel de Administración</h2>
		<div class="bg-red-600 rounded-lg p-4">
			<!-- Aquí puedes agregar el contenido de tu dashboard -->
			<div class="p-4">
				<div class="bg-white rounded-lg shadow-lg overflow-hidden">
					<table class="min-w-full">
						<thead class="bg-gray-200">
							<tr>
								<th class="py-2 px-4">Localidad</th>
								<th class="py-2 px-4">Tipo</th>
								<th class="py-2 px-4">Nombre</th>
								<th class="py-2 px-4">Editar</th>
								<th class="py-2 px-4">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="py-2 px-4">John Doe</td>
								<td class="py-2 px-4">28</td>
								<td class="py-2 px-4">john@example.com</td>
							</tr>
							<tr>
								<td class="py-2 px-4">Jane Smith</td>
								<td class="py-2 px-4">35</td>
								<td class="py-2 px-4">jane@example.com</td>
							</tr>
							<!-- Agrega más filas de datos según sea necesario -->
						</tbody>
					</table>
				</div>
			</div>
			<br>
			<br>
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
				<div class="bg-white rounded-lg shadow-xl p-6 flex items-center">
					<img class="h-16 w-16 rounded-full mr-4" src="<%= image_path('DisponibleAdmin.png') %>" alt="Imagen 1">
					<div>
						<h2 class="text-xl font-semibold">Parqueaderos Disponibles</h2>
						<h2 class="text-gray-600 text-3xl"> <%= @parkings.map{ |a| a.tota_spaces_availble }.sum %> </h2>
					</div>
				</div>
				<div class="bg-white rounded-lg shadow-xl p-6 flex items-center">
					<img class="h-16 w-16 rounded-full mr-4" src="<%= image_path('ActivoAdmin.webp') %>" alt="Imagen 2">
					<div>
						<h2 class="text-xl font-semibold">Parqueadros Activos</h2>
						<h2 class="text-gray-600 text-3xl"><%= @parkings.where(availability: true).count %></h2>
					</div>
				</div>
				<div class="bg-white rounded-lg shadow-xl p-6 flex items-center">
					<img class="h-16 w-16 rounded-full mr-4" src="<%= image_path('InactivoAdmin.webp') %>" alt="Imagen 3">
					<div>
						<h2 class="text-xl font-semibold">Parqueaderos Inactivos</h2>
						<h2 class="text-gray-600 text-3xl"><%= @parkings.where(availability: false).count %></h2>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
				<div class="bg-white rounded-lg shadow overflow-hidden">
					<div class="bg-gray-200 px-4 py-3">
						<h2 class="text-xl font-semibold">Parqueaderos Activos</h2>
					</div>
					<table class="min-w-full">
						<thead class="bg-gray-100">
							<tr>
								<th class="py-2 px-4">Nombre</th>
								<th class="py-2 px-4">Ciudad</th>
								<th class="py-2 px-4">Espacios Disponibles</th>
								<th class="py-2 px-4">Tipo</th>
								<th class="py-2 px-4">Desactivar</th>
							</tr>
						</thead>
						<tbody>
							<% @parkings.where(availability: true).each do |parking| %>	
								<tr>
									<td class="py-2 px-4 text-center align-middle"><%= parking.name %></td>
									<td class="py-2 px-4 text-center align-middle"><%= parking.city_parking.name %></td>
									<td class="py-2 px-4 text-center align-middle"><%= parking.parking_type.name %></td>
									<td class="py-2 px-4 text-center align-middle"><%= parking.parking_type.name %></td>
								</tr>
							<% end %>
							<!-- Agrega más filas de datos según sea necesario -->
						</tbody>
					</table>
				</div>

				<div class="bg-white rounded-lg shadow overflow-hidden">
					<div class="bg-gray-200 px-4 py-3">
						<h2 class="text-xl font-semibold">Parqueaderos Inactivos</h2>
					</div>
					<table class="min-w-full">
						<thead class="bg-gray-100">
							<tr>
								<th class="py-2 px-4">Nombre</th>
								<th class="py-2 px-4">Ciudad</th>
								<th class="py-2 px-4">Espacios Disponibles</th>
								<th class="py-2 px-4">Tipo</th>
								<th class="py-2 px-4">Desactivar</th>
							</tr>
						</thead>
						<tbody>
							<% @parkings.where(availability: false).each do |parking| %>	
								<tr>
									<td class="py-2 px-4 text-center align-middle"><%= parking.name %></td>
									<td class="py-2 px-4 text-center align-middle"><%= parking.city_parking.name %></td>
									<td class="py-2 px-4 text-center align-middle"><%= parking.parking_type.name %></td>
									<td class="py-2 px-4 text-center align-middle"><%= parking.parking_type.name %></td>
								</tr>
							<% end %>
							<!-- Agrega más filas de datos según sea necesario -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
