<section class="bg-gray-50 dark:bg-gray-200 min-h-screen">
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <!-- Tarjeta de crédito 1 -->
      <% if @creditcard %>
        <% @creditcard.each do |credit| %>
          <div class="bg-white rounded-lg shadow-md p-6 <% if credit.company_credit_card.name == 'visa' %>bg-blue-400<% elsif credit.company_credit_card.name == 'MasterCard' || credit.company_credit_card.name == 'mastercard' %>bg-red-400<% elsif credit.company_credit_card.name == 'diners' %>bg-yellow-200<% else %>bg-gray-200<% end %>">
            <div class="flex justify-between mb-4">
              <h2 class="text-lg font-semibold"><%= credit.alias %></h2>
              <%= credit.company_credit_card.name %>
            </div>
            <p>Número de tarjeta: <%= credit.number_card %></p>
            <p>Fecha de expiración: <%= credit.exp_date %></p>
            <br>
            <%= button_to 'Eliminar', creditcard_path(credit.id), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
          </div>
        <% end %>
      <% end %>
      <!-- Agregar más tarjetas de crédito aquí -->
    </div>
    <br>
    <%= link_to 'Agregar método de pago', new_creditcard_path, class: "bg-blue-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-6" %>
  </div>

</section>


