<section class="bg-gray-50 dark:bg-red-600">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 mt-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      Tarjetas Agregadas
    </a>
    <div class="max-w-4xl w-full overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 rounded-lg">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-4">
              Nombre
            </th>
            <th scope="col" class="px-6 py-4">
              Compañía
            </th>
            <th scope="col" class="px-6 py-4">
              Número
            </th>
            <th scope="col" class="px-6 py-4">
              Acciones
            </th>
          </tr>
        </thead>
        <% if @creditcard %>
        <tbody>
          <% @creditcard.each do |credit| %>
						<% if credit.credit_cart_active? %>
							<tr class="border-b border-gray-200 dark:border-gray-700">
								<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
									<%= credit.alias %>
								</td>
								<td class="px-6 py-4">
									<%= credit.company_credit_card.name %>
								</td>
								<td class="px-6 py-4">
									<%= credit.number_card %>
								</td>
								<td class="px-6 py-4">
									<%= button_to 'Eliminar', creditcard_path(credit.id), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "text-blue-500 hover:text-blue-700 font-medium" %>
								</td>
							</tr>
						<% end %>
          <% end %>
        </tbody>
        <% end %>
      </table>
    </div>
    <%= link_to 'Agregar método de pago', new_creditcard_path, class: "bg-blue-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-6" %>
  </div>
</section>


