<div class="flex flex-col sm:flex-row">
	<!-- Sidebar -->
	<%= render partial: 'welcome_page/admin_bar' %> 
	<div class="w-full sm:w-3/4 p-8">
		<h2 class="text-2xl font-bold mb-4">Bienvenido al Panel de Administración</h2>
		<div class="bg-gray-400 rounded-lg p-4">
			<!-- Aquí puedes agregar el contenido de tu dashboard -->
			<div class="p-4">
				<div class="bg-white rounded-lg shadow-lg overflow-hidden">
					<table class="min-w-full">
						<thead class="bg-gray-200">
              <tr>
                <th class="py-2 px-4 align-middle">Email</th>
                <th class="py-2 px-4 align-middle">Rol</th>
								<th class="py-2 px-4 align-middle">Esta Activo</th>
                <th class="py-2 px-4 align-middle">Activar</th>
								<th class="py-2 px-4 align-middle">Desactivar</th>
                <th class="py-2 px-4 align-middle">Eliminar</th>
                <th class="py-2 px-4 align-middle">Reservas</th>
              </tr>
            </thead>
            <tbody>
              <% @user.sort.each do |user| %>	
                <tr>
                  <td class="py-2 px-4 text-center align-middle"><%= user.email %></td>
                  <td class="py-2 px-4 text-center align-middle"><%= user.role.present? ? user.role.name : "No" %></td>
									<td class="py-2 px-4 text-center align-middle"><%= user.status == true ? "Si" : "No" %></td>
                  <td class="py-2 px-4 text-center align-middle"><%= button_to "Activar", enable_admin_index_path(id: user.id), method: :patch, class: "inline-block bg-blue-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out" %></td>
                  <td class="py-2 px-4 text-center align-middle"><%= button_to "Desactivar", disable_admin_index_path(id: user.id), method: :patch, class: "inline-block bg-blue-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out" %></td>
                  <td class="py-2 px-4 text-center align-middle"><%= button_to "Eliminar", admin_path(user.id), method: :delete, data: { confirm: '¿Estás seguro de que quieres eliminar este tipo de estacionamiento?' }, class: "inline-block bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out" %></td>
                  <td class="py-2 px-4 text-center align-middle"><%= button_to "Reservas", client_parking_parkings_path(id: user.id), method: :get, data: { confirm: '¿Estás seguro de que quieres eliminar este tipo de estacionamiento?' }, class: "inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out" %></td>
                </tr>
              <% end %>
            </tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
				<div class="bg-white rounded-lg shadow-xl p-6 flex items-center">
					<img class="h-16 w-16 rounded-full mr-4" src="<%= image_path('DisponibleAdmin.png') %>" alt="Imagen 1">
					<div>
						<h2 class="text-xl font-semibold">Usuarios Existentes</h2>
						<h2 class="text-gray-600 text-3xl"> <%= User.where(role_id: [1, 2]).count %></h2>
					</div>
				</div>
				<div class="bg-white rounded-lg shadow-xl p-6 flex items-center">
					<img class="h-16 w-16 rounded-full mr-4" src="<%= image_path('ActivoAdmin.webp') %>" alt="Imagen 2">
					<div>
						<h2 class="text-xl font-semibold">Usarios Adminisradores Activos</h2>
						<h2 class="text-gray-600 text-3xl"> <%= User.where(role_id: [1, 2]).where(status: true).count %> </h2>
					</div>
				</div>
				<div class="bg-white rounded-lg shadow-xl p-6 flex items-center">
					<img class="h-16 w-16 rounded-full mr-4" src="<%= image_path('InactivoAdmin.webp') %>" alt="Imagen 3">
					<div>
						<h2 class="text-xl font-semibold">Usarios Adminisradores Inactivos</h2>
						<h2 class="text-gray-600 text-3xl"><%= User.where(role_id: [1, 2]).where(status: false).count %></h2>
					</div>
				</div>
			</div>
	</div>
</div>
