<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-lg rounded-lg px-8 py-6 mx-4 sm:w-1/2 lg:w-1/3">
    <h2 class="text-2xl font-semibold mb-4">Registro de Parquederos</h2>

    <%= form_with(model: @parking, url: parkings_path, method: :post, local: true, class: "space-y-4") do |f| %>
      <div class="flex space-x-4">
        <div class="w-1/2 space-y-2">
          <%= f.label :name, class: "block font-semibold text-gray-700" %>
          <%= f.text_field :name, class: "form-input w-full rounded-md shadow-sm" %>
        </div>
        <div class="w-1/2 space-y-2">
          <%= f.label :city_parking, class: "block font-semibold text-gray-700" %>
          <%= f.select :city_parking, options_for_select(@city), {}, class: "form-select w-full rounded-md shadow-sm" %>
        </div>
      </div>
      <div class="flex space-x-4">
        <div class="w-1/2 space-y-2">
          <%= f.label :parking_type, class: "block font-semibold text-gray-700" %>
          <%= f.select :parking_type, options_for_select(@parking_types), {}, class: "form-select w-full rounded-md shadow-sm" %>
        </div>
        <div class="w-1/2 space-y-2">
          <%= f.label :rates, class: "block font-semibold text-gray-700" %>
          <%= f.number_field :rates, class: "form-input w-full rounded-md shadow-sm" %>
        </div>
      </div>
      <div class="flex space-x-4">
        <div class="w-1/2 space-y-2">
          <%= f.label :availability, class: "block font-semibold text-gray-700" %>
          <%= f.select :availability, options_for_select(["true", "false"]), {}, class: "form-select w-full rounded-md shadow-sm" %>
        </div>
        <div class="w-1/2 space-y-2">
          <%= f.label :total_spaces_available, class: "block font-semibold text-gray-700" %>
          <%= f.number_field :total_spaces_available, class: "form-input w-full rounded-md shadow-sm" %>
        </div>
      </div>
      <div class="space-y-2">
        <%= f.label :fidelity, class: "block font-semibold text-gray-700" %>
        <%= f.text_field :fidelity, class: "form-input w-full rounded-md shadow-sm" %>
      </div>
			<div class="w-1/2 space-y-2">
          <%= f.label :address, class: "block font-semibold text-gray-700" %>
          <%= f.text_field :address, class: "form-input w-full rounded-md shadow-sm" %>
        </div>
      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>

      <div>
        <%= f.submit "Registrar", class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-200" %>
      </div>
    <% end %>
  </div>
</div>

